@model CitraDataStore.Models.Estacioneve
@{
    ViewData["Title"] = "Modificar Estación";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="content-header">
    <h1>
        @ViewData["Title"]
    </h1>
</section>
<!-- Main content -->
<section class="content container-fluid">
    <div class="row">
        <!-- left column -->
        <div class="col-md-12">
            <!-- general form elements -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h5 class="m-0 font-weight-bold text-primary">Editar información de  la estación</h5>
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                <form method="post" asp-action="/EstacionesAsignadas/Edit">
                    <div class="card-body">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Id</label>
                            <input disabled type="text" class="form-control" id="Id" name="Id" value="@Model.Id" placeholder="Ingresar Id">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Adcon Id</label>
                            <input type="text" class="form-control" id="AdconId" name="AdconId" value="@Model.AdconId" placeholder="Ingresar Id de Adcon">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Nombre de estación</label>
                            <input type="text" class="form-control" id="Nombre" name="Nombre" value="@Model.Nombre" placeholder="Ingresar nombre de la estación">
                        </div>
                        <div class="form-group">
                            <label>Latitud</label>
                            <input type="text" class="form-control" id="Latitud" name="Latitud" value="@Model.Latitud" placeholder="Ingresar latitud">
                        </div>
                        <div class="form-group">
                            <label>Longitud</label>
                            <input type="text" class="form-control" id="Longitud" name="Longitud" value="@Model.Longitud" placeholder="Ingresar longitud">
                        </div>
                    </div>
                    <!-- /.box-body -->
                    <div class="card-footer">
                        <button type="submit" class="btn btn-success">Guardar</button>
                    </div>
                </form>
            </div>
            <!-- /.box -->

        </div>
    </div>
</section>
