@model ViewModel

@{
    ViewData["Title"] = "Usuarios";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        @ViewData["Title"]
    </h1>


    <!-- Page level plugins -->
    <script src="~/Tema/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="~/Tema/vendor/datatables/dataTables.bootstrap4.min.js"></script>

</section>
<!-- Main content -->

<section class="container-fluid">

    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Lista de Usuarios</h6>
        </div>
        <!-- /.box-header -->
        <div class="card-body">
            <div class="table-responsive">
                <table id="example2" class="table table-bordered" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Nombre</th>
                            <th>Email</th>
                            <th>Rol</th>
                            <!--
                                                       <th>Estacion</th>
                            -->
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (Admins admins in Model.Admins)
                        {
                            <tr>
                                <td>
                                    <input type="hidden" id="@admins.Id" value="@admins.Id" readonly>
                                    @admins.Id
                                </td>
                                <td>
                                    @admins.FullName
                                </td>
                                <td>
                                    @admins.Email
                                </td>
                                <td>
                                    @admins.Roles.Title
                                </td>

                                <td>
                                    <a href="/Admins/Edit/@admins.Id" class="btn btn-outline-warning">Editar</a> |
                                    <a href="/Admins/Delete/@admins.Id" class="btn btn-outline-danger">Borrar</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</section>

<script>


    $(document).ready(function () {
        $('#example2').DataTable({
            "language": {
                "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Spanish.json"
            }
        });
    })
</script>




<script>
    function obtenerDatos() {

        var id = document.getElementById("select1").value; //id del imput de seleccion
        var idUsuario = document.getElementById("fecha2").value; //id del imput de seleccion
            /*console.log("SET FORMCONTROL");
            console.log("SET FORMCONTROLaaa");
            console.log("ID: "+id);*/
            //getSensorNames(id);
        console.log("valor: " + id)
        console.log("valorUsuario: " + idUsuario)

        $.ajax(
        {
          type: "POST",
          url: "@Url.Action("Create", "EstacionesAsignadas")",
          data: {
              id: id,
              idUsuario: idUsuario
          },

          error: function (jqXHR, exception) {
            var msg = '';
            if (jqXHR.status === 0) {
              msg = 'Not connect.\n Verify Network.';
            } else if (jqXHR.status == 404) {
              msg = 'Requested page not found. [404]';
            } else if (jqXHR.status == 500) {
              msg = 'Internal Server Error [500].';
            } else if (exception === 'parsererror') {
              msg = 'Requested JSON parse failed.';
            } else if (exception === 'timeout') {
              msg = 'Time out error.';
            } else if (exception === 'abort') {
              msg = 'Ajax request aborted.';
            } else {
              msg = 'Uncaught Error.\n' + jqXHR.responseText;
            }
            alert("error");
            console.log(msg);
          },

          success:function (data, status) {
            console.log("success");
            }
          })


    }
</script>
